body {
  font-family: sans-serif;
  text-align: center;
  background: #222;
  color: white;
}
button {
  font-size: 30px;
  padding: 20px;
  margin: 10px;
}
button {
  display: block;
  margin: 20px auto;
}
button {
  margin: 15px;
}
h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 42px;
  color: white;
  padding: 20px 40px;
}

h1 span {
  color: red;
  font-size: 24px;
  }
.character-box {
  width: 800px;
  height: 450px;
  margin: 30px auto;
  border: 3px solid #7fdcff;
  border-radius: 20px;
  background: rgba(255,255,255,0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7fdcff;
  font-size: 32px;
}
