body {
  font-family: sans-serif;
  text-align: center;
  background: #222;
  color: white;
}
button {
  font-size: 30px;
  padding: 20px;
  margin: 10px;
}
button {
  display: block;
  margin: 20px auto;
}
button {
  margin: 15px;
}
h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 42px;
  color: white;
  padding: 20px 40px;
}

h1 span {
  color: red;
  font-size: 24px;
}
